div.table-bordered {
  border-bottom-style: none;

}

.table-container {
  max-width: 65%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
}
.header {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
  padding: 15px;
  margin: 50px auto;

}
body {
  rgb(255, 255, 255)
}
h1 {
  font-size: 80px;
}
.table {
  position: relative;
  top: 400px;
}
.col {
  width: 50%;
}
